body {
  margin: 0;
  width: 1499px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: #2A1570;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: left;
}

h1 {
  font-size: 80px;
  font-style: italic;
  font-weight: bold;
}

h2 {
  font-style: italic;
  font-size: 50px;
  font-weight: normal;
}

h3 {
  font-size: large;
}


* {
  box-sizing: border-box;
}

/* @media only screen and (max-width: 600px) {
    todo
} */

.wrapper {
  max-width: 967.6px;
  width: 100%;
  margin: 0 auto;
}

.tabs {
  position: relative;
  margin: 3rem 0;
  background: #2A1570;
  max-height: 14.75rem;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #FFF406;
  border-right: 0.125rem solid #2A1570;
  color: black;
  font-weight: bold;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.tab-switch:disabled~.tab-label:hover {
  cursor: default;
}

.tab-switch:enabled~.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}

.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.5s;
  width: 100%;
}

.tab-content-XL {
  height: 27rem;
  margin-bottom: 3em;
}

.tab-content-L {
  height: 23.5rem;
}

.tab-content-MD {
  height: 20rem;
}


.tab-switch:checked+.tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

input,
textarea,
select {
  background: transparent;
  line-height: 38px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  font-size: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 20px;
  width: 100%;
  clear: both;
  height: 38px;
}

input:focus,
textarea:focus,
select:focus {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}

label:not(.tab-label) {
  font-size: 23px;
  color: #000066;
  margin-top: 10px;
}

/* .form-control {
  margin: 0.5em;
} */

.arrow {
  cursor: pointer;
  text-decoration: none;
  background: #FFF406;
  color: black;
  font-weight: bold;
  width: 75px;
  height: 75px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.29);
  border-bottom: solid 3px #bd6565;
  transition: .4s;
}

.arrow-next {
  position: fixed;
  bottom: 20%;
  right: 5%;
}

.arrow-prev {
  position: fixed;
  bottom: 20%;
  left: 5%;
}

.arrow {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

#logo {
  margin: 3em 34% 1em;
  width: 500px;
}
.control-label .error:not(select):not(input){
  color: red;
  font-size: 15px;
  text-align:right;
  margin-top: -20px;
  position: absolute;
  right: 30px;
}
button{
  box-shadow: 0px 9px 14px -7px #9fb4f2;
	background:linear-gradient(to bottom, #2A1570 5%, #2A1570 100%);
	background-color:#657da8;
	border-radius:2px;
	border:2px solid #08adff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  margin: 1em;
}

footer {
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: justify;
  position: fixed;
}

footer a {
  padding: 8px;
  text-decoration: none;
  color: white;
}

.oneline-text-left {
  float: left;
  width: 20%;
}

.oneline-text-center {
  float: left;
  text-align: center;
  width: 60%;
}

.oneline-text-right {
  float: right;
  width: 20%;
  text-align: right;
}

/** spinner */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  left: 45%;
  top: 44%;
  width: 20em;
  height: 20em;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}